<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fox Club</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
  <li><a href="/">Information</a></li>
  <li><a href="/nutritionStore">Nutrition Store</a></li>
  <li><a href="/trickCenter">Trick Center</a></li>
</ul>
<form th:action="@{/addTrick}" th:method="POST">
  <label>Food</label>
  <select  name="trick">
    <option th:each="trick : ${tricklist}" th:value="${trick.getName()}" th:text="${trick.getName()}">Trick</option>
  </select>
  <label>Drink</label>
  <button type="submit">Learn</button>
</form>
</body>
</html>