body {
  font-family: sans-serif;
}

.box {
  background-color: rgb(14, 145, 161);
  border: 5px solid rgb(125, 206, 148);
  margin: 15px 0 0 0;
  height: 133px;
  width: 368px;
}

.box p {
  color: rgb(0, 85, 102);
  margin: 24px 16px;
  font-size: 36px;
}
