<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit meal</title>
</head>
<body>
<form method="post">
  <label>Date</label>
  <input type="date"/>
  <label>Type</label>
  <select name="type">
    <option th:each="foodtype : ${foodtypes}" value = "${foodtype.type}" th:text="${foodtype}">Breakfast</option>
  </select>
  <label>Description</label>
  <input type="text"/>
  <label>Calories</label>
  <input type="number"/>
  <input type="submit" value="Save"/>
</form>
<form method="get" th:action="@{/}">
  <input type="submit" value="Cancel"/>
</form>
</body>
</html>