<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>

<form th:method="POST" th:action="@{/addBankAccount}" th:object="${newAccount}">
  <label>Name:</label>
  <input type="text" th:field="*{name}"/>
  <input type="text" th:field="*{balance}"/>
  <input type="text" th:field="*{animalType}"/>
  <button type="submit">Submit</button>
</form>

<form th:each="account : ${accounts}" th:method="POST" th:action="@{/click}" th:object="${account}">
  <label th:text="${account.name}"></label>
  <p th:text="${account.zebras}"></p>
  <button type="submit">Submit</button>
</form>

<form th:object="${newAccount}" th:method="POST" th:action="@{/click2}">
  <label th:text="*{name}"></label>
  <p th:text="*{name}"></p>
  <p th:text="*{zebras}"></p>
  <button type="submit">Submit</button>
</form>

</body>
</html>