<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>

<form th:method="POST" th:action="@{/addBankAccount}" th:object="${account}">
  <label>Name:</label>
  <input type="text" th:field="*{name}"/>
  <input type="text" th:field="*{balance}"/>
  <input type="text" th:field="*{animalType}"/>
  <button type="submit">Add</button>
</form>

<form th:each="account,iter : ${accounts}" th:method="POST" th:action="@{/click?index=} + ${iter.index}" th:object="${account}">
  <label th:text="${account.name}"></label>
  <p th:text="|Zebras: ${account.zebras}|"></p>
  <!--<p th:text="|ID: ${account.ID}|"></p>-->
  <button type="submit">Add Zebra</button>
</form>

</body>
</html>